{% extends 'AppBundle:Layout:chart_layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-12 col-sm-12 padding-bottom-10">
                    <input id="wilayah" class="form-control" placeholder="Ketikan Nama Propinsi atau Kabupaten" type="text">
                    <input id="wilayah-value" type="hidden" value=""/>
                </div>
                <div class="col-md-12 col-sm-12 padding-bottom-10">
                    <input id="regional" class="form-control" placeholder="Ketikan Nama Regional" type="text">
                    <input id="regional-value" type="hidden" value=""/>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-6 col-sm-6 padding-bottom-10">
                    <select id="dari-bulan" class="form-control">
                        <option value="">--- DARI BULAN ---</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6 padding-bottom-10">
                    <select id="dari-tahun" class="form-control">
                        <option value="">--- DARI TAHUN ---</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 padding-bottom-10">
                    <select id="sampai-bulan" class="form-control">
                        <option value="">--- SAMPAI BULAN  ---</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6 padding-bottom-10">
                    <select id="sampai-tahun" class="form-control">
                        <option value="">--- SAMPAI TAHUN ---</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 padding-bottom-10">
            <button class="btn btn-primary col-md-12 col-sm-12 filter">FILTER</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <div id="map-block" class="chart-wrapper">
                <div class="chart-title">UNTUK PETA</div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div id="map-info-block" class="chart-wrapper">
                <div class="chart-title">UNTUK INFO PETA</div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div id="top1" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="top2" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="top3" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="top4" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="top5" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="top6" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div id="total1" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="total2" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="total3" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="total4" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="total5" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div id="total6" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <div id="main-block" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div id="indicator-block" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div id="bottom1" class="chart-wrapper">
                <div class="chart-title">BERITA MEDIA SOSIAL</div>
                <div class="chart-stage"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div id="bottom2" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div id="bottom3" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div id="bottom4" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Chart.init();

            {% for i, val in top %}
                Chart.get(function (data) {
                    Chart.createGauge(data, '{{ val.jquerySelector }}', data['indikator']['name'], {
                        click: function (e) {
                            alert('Under Constructions.');
                        }
                    });
                }, '{{ val.indicator }}', '{{ scope }}', '{{ value }}', '{{ dari }}', '{{ sampai }}');
            {% endfor %}

            {% for i, val in total %}
                Chart.get(function (data) {
                    Chart.renderTotal('{{ val.jquerySelector }}', data);
                }, '{{ val.indicator }}', '{{ scope }}', '{{ value }}', '{{ dari }}', '{{ sampai }}');
            {% endfor %}

            {% for i, val in main %}
                Chart.createMainChart('{{ val.indicator }}');
            {% endfor %}

            {% for i, val in bottom %}
                Chart.get(function (data) {
                    Chart.createPie(data, '{{ val.jquerySelector }}', data['indikator']['name'], {
                        click: function (e) {
                            alert('Under Constructions.');
                        }
                    });
                }, '{{ val.indicator }}', '{{ scope }}', '{{ value }}', '{{ dari }}', '{{ sampai }}');
            {% endfor %}

        });
    </script>
{% endblock %}